#navbar{
    background-color: aliceblue;
    margin-bottom: 30px;
}

#content{
    background-image: url(background3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 70px;
    padding-bottom: 90px;
}
.container{
    margin: 40px;
    text-align: center;
    color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.lead{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font: bold;
}
.form-control{
    width: 30%;
    display: inline-block;
    background-color: transparent;
    border: 2px solid black;
    transition: 1.0s;
    font-family: 'Times New Roman', Times, serif;
}

.form-control:hover{
    border: 2px solid white;
    transition-duration: 0.5s;
}

.btn{
    text-transform: capitalize;
    display: inline-block;
    border: 2px solid black;
    background-color: transparent;
    transition: 1.0s;
}

.btn:hover{
    border: 2px solid blue;
    transition-duration: 0.5s;
    background-color: blue;
    color: aliceblue;
}


.card{
    margin: 5px;
    float: left;
    transition: 0.5s;
}

.card:hover{
    box-shadow: 5px 5px 5px 5px black;
}

.button{
    list-style: none;
    text-decoration: none;
    background-color: transparent;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    text-transform: capitalize;
    border: 2px solid black;
    border-radius: 5px;
    margin-left: 80px;
}

.align{
    text-align: center;
}

